In [ ]:
### Creating a SQL Server ####

In [1]:
# packages 

import sqlite3
import pandas as pd

In [2]:
## creating dataframes of all of our desired data

dram_15 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2015-01-01-2016-01-01.csv")
dram_16 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2016-01-01-2017-01-01.csv")
dram_17 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2017-01-01-2018-01-01.csv")
dram_18 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2018-01-01-2019-01-01.csv")
dram_19 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2019-01-01-2020-01-01.csv")
dram_20 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2020-01-01-2021-01-01.csv")
dram_21 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2021-01-01-2022-01-01.csv")

C:\Users\Epicm\AppData\Local\Temp\ipykernel_49888\1960654537.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dram_16 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2016-01-01-2017-01-01.csv")
C:\Users\Epicm\AppData\Local\Temp\ipykernel_49888\1960654537.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dram_17 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2017-01-01-2018-01-01.csv")
C:\Users\Epicm\AppData\Local\Temp\ipykernel_49888\1960654537.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dram_18 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2018-01-01-2019-01-01.csv")
C:\Users\Epicm\AppData\Local\Temp\ipykernel_49888\1960654537.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dram_19 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2019-01-01-2020-01-01.csv")
C:\Users\Epicm\AppData\Local\Temp\ipykernel_49888\1960654537.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dram_21 = pd.read_csv(r"C:\Users\Epicm\Desktop\EmuGames\Dram Data\items-2021-01-01-2022-01-01.csv")

In [3]:
# let's get a grasp on the data frames

for df_name in ['dram_15', 'dram_16', 'dram_17', 'dram_18', 'dram_19', 'dram_20']:
    df = globals()[df_name]
    print(f"{df_name}.columns: {df.columns}")
    print(f"{df_name}.shape: {df.shape}")
    print()

dram_15.columns: Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID'],
      dtype='object')
dram_15.shape: (67480, 24)

dram_16.columns: Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID'],
      dtype='object')
dram_16.shape: (98474, 24)

dram_17.columns: Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID'],
      dtype='object')
dram_17.shape: (110212, 24)

dram_18.columns: Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID', 'Unit', 'Count'],
      dtype='object')
dram_18.shape: (106535, 26)

dram_19.columns: Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID', 'Unit', 'Count'],
      dtype='object')
dram_19.shape: (140921, 26)

dram_20.columns: Index(['Date', 'Time', 'Time Zone', 'Category', 'Item', 'Qty',
       'Price Point Name', 'SKU', 'Modifiers Applied', 'Gross Sales',
       'Discounts', 'Net Sales', 'Tax', 'Transaction ID', 'Payment ID',
       'Device Name', 'Notes', 'Details', 'Event Type', 'Location',
       'Dining Option', 'Customer ID', 'Customer Name',
       'Customer Reference ID', 'Unit', 'Count'],
      dtype='object')
dram_20.shape: (105459, 26)

In [5]:
# we will want remove these features.... 
# columns that only produce null values

unique_rows = dram_21[['Modifiers Applied', 'Tax', 'Dining Option']].drop_duplicates()

unique_rows

   Modifiers Applied    Tax  Dining Option
0                NaN  $0.00            NaN

In [6]:
# we will also drop the features 'Unit' and 'Count' since they repeat information
# dram_18 through dram_21

dram_19

,Date,Time,Time Zone,Category,Item,Qty,Price Point Name,SKU,Modifiers Applied,Gross Sales,...,Notes,Details,Event Type,Location,Dining Option,Customer ID,Customer Name,Customer Reference ID,Unit,Count
0,2019-12-31,22:05:32,Mountain Time (US & Canada),F-Lagers/Pils/Wheat Draught,03P Peach Wheat - Meadowlark,1,Pilsner,NaN,NaN,$5.00,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,380A4Z72WN6KCY568MSZKNC994,Shawna Cary,NaN,ea,1
1,2019-12-31,22:05:32,Mountain Time (US & Canada),F-Lagers/Pils/Wheat Draught,04P Razzu Raspberry Wheat - Philipsburg,1,Pilsner,NaN,NaN,$4.50,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,380A4Z72WN6KCY568MSZKNC994,Shawna Cary,NaN,ea,1
2,2019-12-31,22:05:06,Mountain Time (US & Canada),F-Sour Draught,27M SeaQuench - Dogfish Head,2,Munich,NaN,NaN,$10.00,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,1B09RDV5JS6FWSH68FVJPEBE40,Cassie Smith,NaN,ea,2
3,2019-12-31,22:05:06,Mountain Time (US & Canada),BTG Features!,04 Chateau La Grave Cahors,1,Glass Pour!,NaN,NaN,$8.50,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,1B09RDV5JS6FWSH68FVJPEBE40,Cassie Smith,NaN,ea,1
4,2019-12-31,22:05:06,Mountain Time (US & Canada),Kombucha,Kombucha,1,Half Glass,NaN,NaN,$2.25,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,1B09RDV5JS6FWSH68FVJPEBE40,Cassie Smith,NaN,ea,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140916,2019-01-01,14:02:44,Mountain Time (US & Canada),Sour - Draught,26S Black and Blue Berry - High Water,1,Snifter,NaN,NaN,$9.00,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,MR8BVTFJE536MTW98NVSNMRGB0,Devin Randall,NaN,ea,1
140917,2019-01-01,14:02:44,Mountain Time (US & Canada),Belgian - Draught,23G Brush Tail Saison - Big Sky,1,Goblet,NaN,NaN,$4.50,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,MR8BVTFJE536MTW98NVSNMRGB0,Devin Randall,NaN,ea,1
140918,2019-01-01,13:39:57,Mountain Time (US & Canada),Soda - Draught,38M Root Beer - Glacier Brewing Co.,1,Munich,NaN,NaN,$4.50,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,0PPMTYQ67D1V2KJN9713RQW1T0,Margo Young,NaN,ea,1
140919,2019-01-01,13:39:57,Mountain Time (US & Canada),Cider - Draught,30G Apple Cider - Anthem,1,Glass,NaN,NaN,$4.50,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,0PPMTYQ67D1V2KJN9713RQW1T0,Margo Young,NaN,ea,1
140920,2019-01-01,13:07:22,Mountain Time (US & Canada),IPA - Draught,13P Fresh Haze - Deschutes,1,Pint,NaN,NaN,$5.00,...,NaN,https://squareup.com/dashboard/sales/transacti...,Payment,The Dram Shop Front St.,NaN,NaN,NaN,NaN,ea,1

In [ ]:
# we want to batch clean all the historic data

In [3]:
dfs = [dram_15, dram_16, dram_17, dram_18, dram_19, dram_20, dram_21]

def clean_dataframe(df):
    # Lowercase values in all columns
    df = df.apply(lambda col: col.map(lambda x: x.lower() if isinstance(x, str) else x))

    # Lowercase & remove spaces in headers
    df.columns = df.columns.str.lower().str.replace(' ', '_')

    # Removing '$' and '-' from monetary features
    columns_to_clean = ['gross_sales', 'discounts']
    if all(col in df.columns for col in columns_to_clean):
        df[columns_to_clean] = df[columns_to_clean].replace({'\$': '', '-': ''}, regex=True)
        df[columns_to_clean] = df[columns_to_clean].apply(pd.to_numeric, errors='coerce')

    # Drop specified columns
    columns_to_drop = ['unit', 'count', 'net_sales', 'modifiers_applied', 'tax', 'dining_option', 'time_zone']
    df = df.drop(columns=[col for col in columns_to_drop if col in df.columns], errors='ignore')

    return df

# Apply the cleaning function to each dataframe in the list
for i in range(len(dfs)):
    dfs[i] = clean_dataframe(dfs[i])

In [4]:
dram_15 = clean_dataframe(dram_15)
dram_16 = clean_dataframe(dram_16)
dram_17 = clean_dataframe(dram_17)
dram_18 = clean_dataframe(dram_18)
dram_19 = clean_dataframe(dram_19)
dram_20 = clean_dataframe(dram_20)
dram_21 = clean_dataframe(dram_21)

In [5]:
# checking the first file

dram_15.head()

,date,time,category,item,qty,price_point_name,sku,gross_sales,discounts,transaction_id,payment_id,device_name,notes,details,event_type,location,customer_id,customer_name,customer_reference_id
0,2015-12-31,22:11:10,belgians/sour/big - draught,26 abbey dubbel - new belgium,1,glass,NaN,5.0,0.0,evvy3ije9p5huihnh7nbizmf,ny1masllz2rdiqipb0f4tumf,thedramshop's ipad,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop,NaN,NaN,NaN
1,2015-12-31,22:11:10,ambers/pales - draught,7 hop head red - green flash,1,glass,NaN,6.5,0.0,evvy3ije9p5huihnh7nbizmf,ny1masllz2rdiqipb0f4tumf,thedramshop's ipad,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop,NaN,NaN,NaN
2,2015-12-31,22:11:10,ipa - draught,15 blackfoot ipa,1,glass,NaN,5.0,0.0,evvy3ije9p5huihnh7nbizmf,ny1masllz2rdiqipb0f4tumf,thedramshop's ipad,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop,NaN,NaN,NaN
3,2015-12-31,22:11:10,porters/stouts - draught,20 mystical stout - wildwood,1,glass,NaN,4.5,0.0,evvy3ije9p5huihnh7nbizmf,ny1masllz2rdiqipb0f4tumf,thedramshop's ipad,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop,NaN,NaN,NaN
4,2015-12-31,22:11:10,ipa - draught,17 fresh squeezed ipa - deschutes,1,glass,NaN,4.5,0.0,evvy3ije9p5huihnh7nbizmf,ny1masllz2rdiqipb0f4tumf,thedramshop's ipad,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop,NaN,NaN,NaN

In [7]:
# checking the last file

dram_21.head()

,date,time,category,item,qty,price_point_name,sku,gross_sales,discounts,transaction_id,payment_id,device_name,notes,details,event_type,location,customer_id,customer_name,customer_reference_id
0,2021-10-08,14:28:33,f-seasonal,08m sierra nevada oktoberfest,1,pint,NaN,4.50,2.25,chl1giqx0ayqzlmy5vrgtv9ev,xdkzdghen7viniad551lskiauab,thedramshop,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop front st.,NaN,NaN,NaN
1,2021-10-08,14:23:47,f-seasonal,12p downstream fresh hop - hub,1,half glass,NaN,3.00,0.00,ecpz036gddpjrp22vhzs228ev,9sg5jteqjgbitclazlez0wfhuab,thedramshop,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop front st.,NaN,NaN,NaN
2,2021-10-08,14:11:04,f-seasonal,13c fresh hop abominable - hopworks,1,half glass,NaN,2.75,0.00,otjqnzgkifakoohldtnwnsyev,7nhh5t0r7qqa22kv22yge7ulvab,thedramshop,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop front st.,NaN,NaN,NaN
3,2021-10-07,22:08:17,c-seasonal,13p downstream fresh hop - hub,1,regular,NaN,6.00,0.00,5egswi3to5kbvjk3xmzygw1ev,3dh6x9jvz5kvsbgtnta1phanvab,zachary central,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop central,t8n9qfqj896dzbts3vqtf05gym,elizabeth mckenzie,NaN
4,2021-10-07,22:08:17,c-seasonal,06m benediktiner oktoberfest,1,munich,NaN,5.50,0.00,5egswi3to5kbvjk3xmzygw1ev,3dh6x9jvz5kvsbgtnta1phanvab,zachary central,NaN,https://squareup.com/dashboard/sales/transacti...,payment,the dram shop central,t8n9qfqj896dzbts3vqtf05gym,elizabeth mckenzie,NaN

In [ ]:
## CREATING THE TABLES ##

In [5]:
# creating our database 

conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\dram_db.db")
cursor = conn.cursor()

In [6]:
# Define the function to create a table and insert data
def create_table_and_insert_data(df, table_name):
    # Create table with a dynamic name
    cursor.execute(f'''
    CREATE TABLE IF NOT EXISTS {table_name} (
        date TEXT,
        time TEXT,
        category TEXT,
        item TEXT,
        qty INTEGER,
        price_point_name TEXT,
        sku TEXT,
        gross_sales FLOAT,
        discounts FLOAT,
        transaction_id TEXT,
        payment_id TEXT,
        device_name TEXT,
        notes TEXT,
        details TEXT,
        event_type TEXT,
        location TEXT,
        customer_id TEXT,
        customer_name TEXT,
        customer_reference_id TEXT
    )
    ''')

    # Insert data into the table
    for _, row in df.iterrows():
        cursor.execute(f'''
        INSERT INTO {table_name} (date, time, category, item, qty, price_point_name, sku, gross_sales, discounts, transaction_id, payment_id, device_name, notes, details, event_type, location, customer_id, customer_name, customer_reference_id)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', tuple(row))
    
    conn.commit()

# List of cleaned dataframes and their corresponding table names
cleaned_dfs = {
    'dram_15': dram_15,
    'dram_16': dram_16,
    'dram_17': dram_17,
    'dram_18': dram_18,
    'dram_19': dram_19,
    'dram_20': dram_20,
    'dram_21': dram_21
}

# Iterate through each dataframe and create table and insert data
for table_name, df in cleaned_dfs.items():
    create_table_and_insert_data(df, table_name)

In [7]:
# close the connection 

cursor.close()
conn.close()

In [ ]:
# below I left my first attempt that was not a batch approach
# the time to upload took 2:30 min compared to the batch's 23 sec

In [16]:
# create table and push to db

cursor.execute('''
CREATE TABLE IF NOT EXISTS dram_historic (
    date TEXT
    , time TEXT
    , category TEXT
    , item TEXT
    , qty INTEGER
    , price_point_name TEXT
    , sku TEXT
    , gross_sales FLOAT
    , discounts FLOAT
    , (gross_sales - discounts) AS net_sales FLOAT
    , transaction_id TEXT
    , payment_id TEXT
    , device_name TEXT
    , notes TEXT
    , details TEXT
    , event_type TEXT
    , location TEXT
    , customer_id TEXT
    , customer_name TEXT
    , customer_reference_id TEXT
    




)
''')


for _, row in df.iterrows():
    cursor.execute('''
    INSERT INTO dram_historic (date, time, category, item, qty, price_point_name, sku, gross_sales, discounts, net_sales, transaction_id, payment_id, device_name, notes, details, event_type, location, customer_id, customer_name, customer_reference_id)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', row)
    
conn.commit()

C:\Users\Epicm\AppData\Local\Temp\ipykernel_39860\2759201042.py:35: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cursor.execute('''

In [8]:
# now I will create my own net_sales column to ensure accuracy 

conn = sqlite3.connect(r"C:\Users\Epicm\Desktop\data_bases\dbs\planes\dram_db.db")
cursor = conn.cursor()

In [9]:
def add_net_sales_column():
    # Retrieve the names of all tables in the database
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    for table in tables:
        table_name = table[0]
        
        # Add the 'net_sales' column if it doesn't already exist
        cursor.execute(f"ALTER TABLE {table_name} ADD COLUMN net_sales FLOAT;")

        # Update the 'net_sales' column with the calculated value
        cursor.execute(f'''
            UPDATE {table_name}
            SET net_sales = gross_sales - discounts
            WHERE gross_sales IS NOT NULL AND discounts IS NOT NULL;
        ''')

    # Commit changes to the database
    conn.commit()

# Call the function to add the net_sales column to all tables
add_net_sales_column()

# Close the database connection
conn.close()

In [ ]:
'''
END
'''